body{
    display: grid;
    grid-template-areas:
    "lateral cabecalho cabecalho" 
    "lateral principal principal"
    "lateral rodape rodape" ;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 90vh auto;
    margin: 0;
    padding: 0;
    
}

.cabecalho{
    border: solid 1px;
    background-color: aqua;
    grid-area: cabecalho;
    width: 721px;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.principal{
    
    background: #E7E7E7;
    grid-area: principal;
    width: 100%;
    height: 100%;
    
}

.lateral{
    border: solid 1px;
    background-color:  #D9D9D9;
    grid-area: lateral;
    width: 189px;
    height: 919px;
    top: 2px;
    gap: 0px;
    opacity: 0px;
}

.rodape{
    border: solid 1px;
    background-color:  #FFFFFF;
    grid-area: rodape;
    width: 721px;
    height: 45px;
    top: 629px;
    left: 189px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

img{
    width: 377px;
    height: 368px;
    top: 118px;
    left: 311px;
    gap: 0px;
    opacity: 0px;
    max-width: 100%;
    
}

#container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #E7E7E7;
    margin-top: 100px;

    
    
}   

nav ul{
    list-style: none;
    display: flex;
    
    margin: 0;
    padding: 0;
    justify-content: center;
}

li{
    width: 189px;
    height: 29.03px;
    top: 60px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

#cidade,#estado, #pais, #usuario{
    background: #04C9F4;

}

main{
    background: #E7E7E7;

}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    .cabecalho {
        font-size: 18px; /* Reduz o tamanho da fonte do cabeçalho */
        text-align: center; /* Centraliza o texto do cabeçalho */
        padding: 10px; /* Adiciona um espaçamento interno */
    }

    .principal {
        display: flex;
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        flex-direction: column; /* Altera a direção dos itens para coluna */
        padding: 10px; /* Adiciona um espaçamento interno */
    }

    .lateral {
        display: block; /* Garante que a barra lateral seja exibida */
        width: 100%; /* Garante que a barra lateral ocupe toda a largura da tela */
        padding: 10px; /* Adiciona um espaçamento interno */
        border-top: 1px solid #ccc; /* Adiciona uma borda superior para separar da seção principal */
    }

    .lateral nav ul li {
        text-align: center; /* Centraliza o texto dos itens da barra lateral */
    }

    .rodape {
        font-size: 14px; /* Reduz o tamanho da fonte do rodapé */
        text-align: center; /* Centraliza o texto do rodapé */
        padding: 10px; /* Adiciona um espaçamento interno */
    }
}
.cadastro{
    display: flex;
   justify-content: center;
   align-items: center;
   margin: auto; 
   margin-top: calc(50vh - 337px); 
   width: 454px;
   height: 280px;
   top: 50px;
   left: 198px;
   gap: 0px;
   opacity: 0px;
   background: #E7E7E7;
}

#nome{
    width: 436px;
    height: 63px;
    top: 61px;
    left: 206px;
    gap: 0px;
    opacity: 0px;

}

#uf{
    width: 73px;
    height: 53px;
    top: 130px;
    left: 206px;
    gap: 0px;
    opacity: 0px;

}

#cep{
    width: 355px;
    height: 53px;
    top: 130px;
    left: 279px;
    gap: 0px;
    opacity: 0px;

}

#regiao{
    width: 436px;
    height: 63px;
    top: 189px;
    left: 206px;
    gap: 0px;
    opacity: 0px;

}




h1{
    width: 174.4px;
height: 20px;
top: 61px;
left: 206px;
gap: 0px;
opacity: 0px;

}

a{
    text-decoration: none;
}

.uf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.botoes{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    display: flex;
    
}

#buscar{
    width: 95px;
    height: 31px;
    top: 278px;
    left: 206px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    background-color: #04C9F4;
    border: none;

}

#excluir{
    width: 95px;
    height: 31px;
    top: 278px;
    left: 320px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    background: #F40404;
    border: none;

}

#cancelar{
    width: 95px;
    height: 31px;
    top: 278px;
    left: 434px;
    gap: 0px;
    opacity: 0px;
    color: #04C9F4;
    background: #FFFFFF;
    border: none;

}

#salvar{
    width: 95px;
    height: 31px;
    top: 278px;
    left: 548px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    background-color: #04C9F4;
    border: none;
    

}
